{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block container %}
    <form action="/users/{{ profile }}/edit/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 class="text-center mt-3">Editing {{ profile }} profile</h3>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        {{ form|crispy }}
        <button class="btn btn-success float-right btn-lg mb-3 mt-0" type="submit">Update Profile</button>
    </form>
    <a href="/users/{{ profile.slug }}">
        <button class="btn btn-danger float-right btn-lg mb-3 mt-0">Cancel</button>
    </a>
{% endblock container %}
