{% extends 'base.html' %}

{% load static %}

{% block title %}
    Sign In
{% endblock %}

{% block container %}

<div class="sign-in" style="text-align: center;">
    <div class="card mb-3 h-100">
        <div class="row g-0 card-elements">
            <h1>Sign In</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <div class="d-block">
                        <p>{{ form.username }}</p>
                        <p>{{ form.password }}</p>
                    </div>
                </div>
                <p>Don't have an account? <a href="{% url 'users:registration' %}">Sign up</a> for free now!</p>
                <button type="submit" class="btn btn-danger">Log In</button>
                <a href="{% url 'home:home' %}" class="btn btn-outline-danger">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock container %}
