{% extends 'base.html' %}

{% block title %}
    Reset Password
{% endblock title %}

{% block container %}
        {% if form.errors %}
        {% for error in form.errors %}
            <div class="alert alert-danger">
                You must enter valid current password and a new one meeting the requirements.
                <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="sign-in" style="text-align: center;">
        <div class="card mb-3 h-100">
            <div class="row g-0 card-elements">
                <h1>Reset password</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <div>
                        <p>Forgot your password? Enter your email to get instructions for setting a new one.</p>
                        <div class="d-block">
                            <p>{{ form.email }}</p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Reset password</button>
                    <a href="{% url 'home:home' %}" class="btn btn-outline-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock container %}
