{% extends 'base.html' %}

{% block title %}
    Password Change
{% endblock title %}

{% block container %}
    {% if form.errors %}
        {% for error in form.errors %}
            <div class="alert alert-danger">
                You must enter valid current password and a new one meeting the requirements.
                <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="sign-in" style="text-align: center;">
        <div class="card mb-3 h-100">
            <div class="row g-0 card-elements">
                <h1>Change password</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <div>
                        <div class="d-block">
                            <p>{{ form.old_password }}</p>
                            <p>{{ form.new_password1 }}</p>
                            <p>{{ form.new_password2 }}</p>
                        </div>
                    </div>
                    <p>Forgot your password? Click <a href="{% url 'users:password_reset' %}">here</a>.</p>
                    <button type="submit" class="btn btn-danger">Save</button>
                    <a href="/users/profile/{{ user }}" class="btn btn-outline-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock container %}
