{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles/star_rating.css' %}">
{% endblock styles %}

{% block container %}

    {% include 'partials/musicians_filter.html' %}

    {% for musician in musicians %}
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-12 w-100 mb-3">
                <a class="card-link" href="/users/{{ musician.slug }}">
                    <div class="card mb-3 h-100 justify-content-center">
                        <div class="row musicians-list-card">
                            <div class="col-md-auto">
                                {% if musician.avatar %}
                                    <img src="{{ musician.avatar.url }}" class="rounded-circle img-fluid avatar"
                                         alt="user_avatar">
                                {% else %}
                                    <img src="{% static 'images/dummy-avatar.jpg' %}" alt="avatar"
                                         class="rounded-circle img-fluid avatar">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div style="display: flex;">
                                        <div class="col-12">
                                            <h5 class="card-title">{{ musician.user }}</h5>
                                        </div>
                                        <div class="col-auto" style="text-align: right;">
                                            <h6 class="">Cut:</h6>
                                            {% if not musician.cut %}
                                                <p class="text-muted mb-0">undisclosed</p>
                                            {% else %}
                                                <p class="musician-cut mb-0">{{ musician.cut }} $</p>
                                                <p class="text-muted">/song</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="musician-info">
                                        <div class="col-3">
                                            <p class="card-text">Instrument:</p>
                                            <p class="card-text">Styles:</p>
                                            <p class="card-text">Rating:</p>
                                        </div>
                                        <div class="col-7">
                                            {% if not musician.instrument %}
                                                <p class="card-text">-</p>
                                            {% else %}
                                                <p class="card-text">{{ musician.instrument }}</p>
                                            {% endif %}
                                            {% if not musician.music_style %}
                                                <p class="card-text">-</p>
                                            {% else %}
                                                <p class="card-text">{{ musician.music_style }}</p>
                                            {% endif %}
                                            {% if not musician.rating %}
                                                <p class="card-text">-</p>
                                            {% else %}
                                                <p class="card-text">
                                                    <i data-star="{{ musician.rating }}"></i>
                                                    <small>({{ musician.rating }})</small>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% empty %}
        <div>
            <h6>There are no agents meeting your criteria at the moment.</h6>
        </div>
    {% endfor %}
    <div style="text-align: center;">
        {% include 'partials/pagination.html' %}
    </div>
{% endblock container %}
