{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
{% endblock styles %}

{% load ratings %}

{% block container %}
<section class="bg-dark contents">
  <div class="container py-5">
    <div class="row w-100 m-0 mb-4">
      <div class="card">
      <div class="card-body">
            <div class="row" style="display: block;">
              <div class="col-auto">
                  <h3 style="text-align: center;">Musician's profile</h3>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card h-100">
          <div class="card-body text-center">
            {% if profile.avatar %}
              <img src="{{ profile.avatar.url }}" alt="avatar"
                  class="rounded-circle img-fluid avatar">
            {% else %}
              <img src="{% static 'images/dummy-avatar.jpg' %}" alt="avatar"
                  class="rounded-circle img-fluid avatar">
            {% endif %}
            <h5 class="my-3">{{ profile }}</h5>
            <p class="text-muted mb-2">{{ profile.location }}</p>
            <div class="d-flex justify-content-center mb-2">
              {% if profile_edit == 1 %}
                  <a href="{% url 'users:edit_profile' slug=profile.slug %}">
                    <button type="button" class="btn btn-danger m-1">Edit profile</button>
                  </a>
                  <a href="{% url 'users:password_change' %}">
                    <button type="button" class="btn btn-outline-danger m-1">Change password</button>
                  </a>
              {% elif profile_edit == 2 %}
                  <a href="{% url 'users:edit_profile' slug=profile.slug %}">
                    <button type="button" class="btn btn-warning m-2">Edit profile</button>
                  </a>
                  <a href="{% url 'chat:chat-view' pk=profile.user_id %}">
                    <button type="button" class="btn btn-outline-danger ms-1">Message</button>
                  </a>
              {% else %}
                  <a href="{% url 'chat:chat-view' pk=profile.user_id %}">
                    <button type="button" class="btn btn-outline-danger ms-1">Message</button>
                  </a>
              {% endif %}
            </div>
          </div>
          <div class="card-body">
            <h6>Instruments:</h6>
            <p class="text-muted">{{ profile.instrument }}</p>
          </div>
          <div class="card-body">
            <h6>Music styles:</h6>
            <p class="text-muted">{{ profile.music_style }}</p>
          </div>
          <div class="card-body">
            <h6>Am I mobile?</h6>
            <p class="text-muted">
              {% if profile.is_mobile %}
                Yes.
              {% else %}
                No.
              {% endif %}
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-8 h-auto">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12" style="display: inline;">
                <h6 class="mb-0" style="text-align: right;">Cut:</h6>
                <hr>
                <div style="text-align: right;">
                  <div style="display: block;">
                    {% if not profile.cut %}
                      <p class="musician-cut">undisclosed</p>
                    {% else %}
                      <p class="musician-cut">{{ profile.cut }}$</p>
                      <p class="text-muted">/song</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h6 class="mb-0">About me</h6>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-muted mb-0">{{ profile.bio }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h6 class="mb-0">Upcoming events</h6>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-muted mb-0">upcoming events</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h6 class="mb-0">Equipment</h6>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-muted mb-0">{{ profile.equipment }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
              <div class="row">
              <div class="col-sm-12">
                <div style="display: inline;">
                  <h6 class="mb-0">Rating</h6>
                  <hr>
                  <div style="text-align: right;">
                      {% ratings object %}
                  </div>
                </div>
              </div>
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock container %}