{% extends 'base.html' %}

{% load static %}

{% block container %}
  <div class="row d-flex">
    <div class="d-inline-flex">
      {% if receiver_profile.avatar %}
        <img src="{{ receiver_profile.avatar.url }}" alt="avatar"
             class="rounded-circle img-fluid avatar">
      {% else %}
        <img src="{% static 'images/dummy-avatar.jpg' %}" alt="avatar"
             class="rounded-circle img-fluid avatar">
      {% endif %}
      <div class="w-auto" style="margin: auto">
        <h4>You are chatting with <b>{{ receiver }}</b></h4>
      </div>
    </div>
  </div>

    <div class="col-12 mt-3 overflow-scroll" style="height: 400px;">
    <div id="message-list" data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="" tabindex="0">
        {% for message in messages %}
            <div class="row d-flex justify-content-between">
                <div class="w-50 d-flex">
                    <h6>{{ message.sender }}</h6>
                </div>
                <div class="w-50 d-inline-flex">
                    <p>{{ message.timestamp }}</p>
                </div>
            </div>
            <p>{{ message.message }}</p>
            <hr>
        {% endfor %}
    </div>
  </div>

    <div class="chat-inputs">
        <input id="chat-message-input" type="text">
        <input id="chat-message-submit" class="btn btn-outline-danger" type="button" value="Send">
    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function(e) {
            console.log("Connection is opened");
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log("Message is received");

            const div = document.getElementById('message-list')
            var li = document.createElement('li')
            li.append(document.createTextNode(
                '[' + data.sender + ']: ' + data.message
            ))
            div.append(li);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>

{% endblock container %}
