{% extends 'base.html' %}

{% load static %}

{% block title %}
    Chat with {{ receiver }}
{% endblock title %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    {{ room.name|json_script:"json-roomname" }}
    {{ request.user.username|json_script:"json-username" }}
    <script src="{% static 'js/chat.js' %}" async defer></script>
{% endblock scripts %}

{% block container %}
  <div class="row d-flex">
    <div class="d-inline-flex">
      {% if receiver_profile.avatar %}
        <img src="{{ receiver_profile.avatar.url }}" alt="avatar"
             class="rounded-circle img-fluid avatar">
      {% else %}
        <img src="{% static 'images/dummy-avatar.jpg' %}" alt="avatar"
             class="rounded-circle img-fluid avatar">
      {% endif %}
      <div class="w-auto" style="margin: auto">
        <h4>You are chatting with <b>{{ receiver }}</b></h4>
      </div>
    </div>
  </div>

    <div class="col-12 mt-3 d-flex" style="height: 450px; flex-direction: column-reverse; overflow-y: scroll; background: #181c20">
    <div id="chat-messages" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="" tabindex="0">
        {% for message in messages %}
            <div class="row d-flex justify-content-between">
                <div class="w-50 d-flex">
                    <h6>{{ message.user }}</h6>
                </div>
            </div>
            <div class="w-75">
                <p>{{ message.message }}</p>
            </div>
            <hr>
        {% endfor %}
    </div>
  </div>

    <div class="chat-inputs mt-3">
        <input id="chat-message-input" type="text" class="col-11 mt-1">
        <input id="chat-message-submit" class="btn btn-outline-danger float-end" type="button" value="Send">
    </div>

{% endblock container %}
