{% extends 'base.html' %}

{% load static %}

{% block title %}
    Job Details
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
{% endblock styles %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/choose-candidate.js' %}" async defer></script>
{% endblock scripts %}

{% block container %}
    <section class="bg-dark contents">
  <div class="container py-5">
    <div class="row w-100 m-0">
      <div class="card">
      <div class="card-body">
            <div class="row" style="display: block;">
              <div class="col-auto">
                  <h3 style="text-align: center;">{{ job.title }}</h3>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-4">
        <div id="participants" class="card h-100 d-block">
          <div class="card-body text-center h-auto">
            {% if applied %}
                <h6>You applied for this job.</h6>
            {% endif %}
            <p class="text-muted">Owner:</p>
            {% if owner_profile.avatar %}
              <img src="{{ owner_profile.avatar.url }}" alt="avatar"
                  class="rounded-circle img-fluid avatar" style="width: 150px; height: 150px;">
            {% else %}
              <img src="{% static 'images/dummy-avatar.jpg' %}" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
            {% endif %}
            <h5 class="my-3">{{ job.owner }}</h5>
            {% if job_owner %}
                <div class="d-flex justify-content-center mb-2">
                    {% if job_detailed.get_class == 'StudioSession' %}
                        <a href="{% url 'jobs:edit_session' slug=job.slug %}">
                            <button type="button" class="btn btn-outline-danger">Edit Job</button>
                        </a>
                    {% elif job_detailed.get_class == 'Concert' %}
                        <a href="{% url 'jobs:edit_concert' slug=job.slug %}">
                            <button type="button" class="btn btn-outline-danger">Edit Job</button>
                        </a>
                    {% elif job_detailed.get_class == 'Tour' %}
                        <a href="{% url 'jobs:edit_tour' slug=job.slug %}">
                            <button type="button" class="btn btn-outline-danger">Edit Job</button>
                        </a>
                    {% endif %}
                        <a href="{% url 'jobs:delete-job' slug=job.slug %}">
                            <button type="button" class="btn btn-danger  ms-1">Delete</button>
                        </a>
                </div>
            {% else %}
                    <div class="d-flex justify-content-center mb-2">
                        {% if not applied %}
                            <a href="{% url 'jobs:apply' slug=job.slug %}">
                                <button type="button" class="btn btn-danger ms-1">Apply</button>
                            </a>
                        {% endif %}
                        <a href="{% url 'chat:chat-view' pk=job.owner.id %}">
                            <button type="button" class="btn btn-outline-danger ms-1">Message</button>
                        </a>
                    </div>
            {% endif %}
          </div>

          {% if hired is False %}
          {% if job_owner %}
              <div id="candidate-list" class="card-body">
                  <div class="row">
                      <div class="col-sm-12">
                        <h6 class="mb-0">Accesses
                            {% if access_count > 0 %}
                                (total {{ access_count }})
                            {% endif %}
                        </h6>
                      </div>
                    </div>
                    <hr>
                    {% csrf_token %}
                    {% for candidate in candidates %}
                        <div class="row">
                          <div class="col-sm-12 d-flex" style="justify-content: space-between;">
                            <a href="/users/profile/{{ candidate }}" class="text-muted mb-0">{{ candidate }}</a>
                            <button type="button" id="{{ candidate.id }}" data-id="{{ candidate.id }}" class="hire-button">Hire!</button>
                          </div>
                        </div>
                    {% empty %}
                        <div class="row">
                          <div class="col-sm-12">
                            <p class="text-muted mb-0">No candidates yet.</p>
                          </div>
                        </div>
                    {% endfor %}
              </div>
          {% else %}
              <div class="row job-attrs">
                  <div class="col-sm-12 justify-content-around">
                      <h6>Access count:</h6>
                      <h6>{{ access_count }}</h6>
                  </div>
              </div>
          {% endif %}
          {% else %}
            <div class="card-body text-center h-auto">
                <p class="text-muted">Hired agent:</p>
                {% if hired_agent.avatar %}
                  <img src="{{ hired_agent.avatar.url }}" alt="avatar"
                      class="rounded-circle img-fluid avatar" style="width: 150px; height: 150px;">
                {% else %}
                  <img src="{% static 'images/dummy-avatar.jpg' %}" alt="avatar"
                      class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                {% endif %}
                <a href="/users/profile/{{ hired_agent }}">
                  <h5 class="my-3">{{ hired_agent }}</h5>
                </a>
                {% csrf_token %}
                <button type="button" id="cancel-btn" data-id="{{ hired_agent.user.id }}" class="btn btn-outline-danger">Cancel contract</button>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
                <div class="d-inline-flex mb-4" style="justify-content: space-between;">
                  <p><strong>When:</strong></p>
                  {% if job_detailed.get_class == 'Concert' %}
                    <p>{{ job.event_start.date }} {{ job.event_start.time }}</p>
                  {% else %}
                    <p>{{ job.event_start.date }} - {{ job.event_end.date }}</p>
                  {% endif %}
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12" style="display: inline;">
                <h6 class="mb-0" style="text-align: right;">Cut:</h6>
                <hr>
                <div style="text-align: right;">
                  <div style="display: block;">
                    <p class="musician-cut">{{ job.cut }}$</p>
                    <p class="text-muted">/{{ job.cut_unit }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4 job-attrs">
            <div class="card-body">
              <h6>Job type:</h6>
              <p class="text-muted">{{ job_detailed.get_class }}</p>
            </div>
            <div class="card-body">
              {% if job_detailed.get_class == 'Tour' %}
                <h6>Region:</h6>
                <p class="text-muted">{{ job_detailed.region }}</p>
              {% else %}
                <h6>Location:</h6>
                <p class="text-muted">{{ job_detailed.location }}</p>
              {% endif %}
            </div>
            {% if job_detailed.get_class == 'StudioSession' and job_detailed.studio_name %}
              <div class="card-body">
                  <h6>Studio:</h6>
                  <p class="text-muted">{{ job_detailed.studio_name }}</p>
              </div>
            {% endif %}
          <div class="card-body">
            <h6>Instrument:</h6>
            <p class="text-muted">{{ job.instrument }}</p>
          </div>
          <div class="card-body">
            <h6>Music style:</h6>
            <p class="text-muted">{{ job.music_style }}</p>
          </div>
        </div>
        <div class="card h-auto">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h6 class="mb-0">Job details</h6>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-muted mb-0">{{ job.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock container %}
