{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
{% endblock styles %}

{% block container %}

    <a href="">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Add Job
        </button>
    </a>
    {% include 'partials/jobs_filter.html' %}

    {% for job in jobs %}
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-12 w-100 mb-3">
                <a class="card-link" href="/jobs/view/{{ job.slug }}">
                    <div class="card mb-3 h-100 justify-content-center">
                        <div class="col-md-auto vertical-center">
                            {% if job.get_class == 'StudioSession' %}
                                <img src="{% static 'images/studio-session.png' %}" alt="avatar"
                                     class="rounded-circle img-fluid avatar">
                            {% elif job.get_class == 'Concert' %}
                                <img src="{% static 'images/concert.png' %}" alt="avatar"
                                     class="rounded-circle img-fluid avatar">
                            {% else %}
                                <img src="{% static 'images/tour.png' %}" alt="avatar"
                                     class="rounded-circle img-fluid avatar">
                            {% endif %}
                        </div>
                        <div class="col-md-auto">
                            <div class="col-md-8 card-info">
                                <div class="card-body">
                                    <div style="display: flex;">
                                        <div class="col-12">
                                            <h5 class="card-title">{{ job.title }}</h5>
                                            {% if job.event_start.date == job.event_end.date %}
                                                <p class="mb-0"><small>Date: {{ job.event_start.date }}</small></p>
                                            {% else %}
                                                <p class="mb-0"><small>Date: {{ job.event_start.date }} - {{ job.event_end.date }}</small></p>
                                            {% endif %}
                                        </div>
                                        <div class="col-auto" style="text-align: right;">
                                            <h6 class="">Cut:</h6>
                                            <p class="musician-cut mb-0">{{ job.cut }} $</p>
                                            <p class="text-muted">/{{ job.cut_unit }}</p>
                                        </div>
                                    </div>
                                    <div class="musician-info">
                                        <div class="col-3">
                                            <p class="card-text">Event type:</p>
                                            <p class="card-text">Instrument:</p>
                                            <p class="card-text">Style:</p>
                                        </div>
                                        <div class="col-7">
                                            <p class="card-text">{{ job.get_class }}</p>
                                            <p class="card-text">{{ job.instrument }}</p>
                                            <p class="card-text">{{ job.music_style }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    {% empty %}
        <div>
            <h6>{{ no_results_message }}</h6>
        </div>
    {% endfor %}

    <div style="text-align: center;">
        {% if jobs|length >= 2 %}
            {% include 'partials/pagination.html' %}
        {% endif %}
    </div>

{% endblock container %}
