.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-link {
    text-decoration: none;
}

.card-images {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 200px;
}

.center-contents {
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.last-update {
    position: absolute;
    display: inline-flex;
    color: #aaaaaa;
    bottom: 10px;
    right: 10px;
}
