.card {
    background: #1a1e21;
    color: white;
    --bs-card-border-color: #aaaaaa;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 10px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-link {
    text-decoration: none;
}

.card-images {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.last-update {
    position: absolute;
    display: inline-flex;
    color: #aaaaaa;
    bottom: 10px;
    right: 10px;
}

.logo {
    height: 60px;
}

#searchbar {
    justify-content: space-around;
}

footer {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.partials {
    background: #1a1e21;
}

.socials {
    height: 30px;
}