body {
    color: white;
}

.contents {
    margin-bottom: 200px;
}

.card {
    background: #1a1e21;
    color: white;
    --bs-card-border-color: #aaaaaa;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 10px;
    cursor: pointer;
}

.logo {
    height: 60px;
}

#searchbar {
    justify-content: space-around;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.partials {
    background: #1a1e21;
}

.socials {
    height: 30px;
}

.musicians-list-card {
    display: inline-flex;
}

.avatar {
    width: 150px;
    height: 150px;
}

.musician-info {
    display: flex;
}