body {
    color: white;
}

.contents {
    margin-bottom: 200px;
}

.card {
    background: #1a1e21;
    color: white;
    --bs-card-border-color: #aaaaaa;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 10px;
    cursor: pointer;
}

.logo {
    height: 60px;
}

#searchbar {
    justify-content: space-around;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.partials {
    background: #1a1e21;
}

.socials {
    height: 30px;
}

.socials-icon:hover {
    transform: scale(1.10);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.avatar {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.avatar-msg {
    width: 100px;
    height: 100px;
}

.musician-info {
    display: flex;
}

.filter-panel {
    display: block;
    width: 100%;
}

.filter-row {
    display: flex;
}

.filter-item {
    display: inline-block;
    width: 100%;
}

.filter-toggle {
    text-align: center;
}

.submit-filter {
    float: right;
}

.search-filter {
    display: flex;
}

.musician-cut {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.vertical-center {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.card-info {
    display: inline-block;
    position: relative;
    left: 20%;
}

.job-attrs > div {
    display: inline-flex;
    justify-content: space-between;
}

.success-check {
    height: 20px;
    color: #00363a;
}

.msg-datetime {
    text-align: end;
    width: 25%;
}

.msg-datetime > p {
    margin: 0;
}

.sign-in {
    position: absolute;
    padding: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.job-form-label {
    width: 100px;
    text-align: end;
}