{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
{% endblock styles %}

{% block title %}
    {% if user.is_authenticated %}
        Dashboard
    {% else %}
        Welcome
    {% endif %}
{% endblock title %}

{% block container %}
    <div class="mb-5">
        {% if user.is_authenticated %}
            <h1>Good to see you again,</h1>
            <h3>{{ user }}! :)</h3>
        {% else %}
            <h1>Welcome to Hire A Musician!</h1>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        {% include 'partials/dashboard.html' %}
    {% else %}
        {% include 'partials/invite.html' %}
    {% endif %}
    <div class="d-inline justify-content-around mt-5" style="text-align: center;">
        <h3>Registered users: {{ users_count }}</h3>
        <h3>Active job offers: {{ jobs_count }}</h3>
    </div>
{% endblock container %}
