{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
{% endblock styles %}

{% block container %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col-6">
            <a class="card-link" href="">
                <div class="card mb-3 h-100 justify-content-center">
                    <div class="row g-0 card-elements">
                        <div class="col-md-4 card-images">
                            <img src="{% static '/images/jobs.svg' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Jobs</h5>
                                <p class="card-text">Search for job opportunities - both live and in studio, add offers and grow.</p>
                                <p class="card-text last-update"><small>Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a class="card-link" href="">
                <div class="card mb-3 h-100 justify-content-center">
                    <div class="row g-0">
                        <div class="col-md-4 card-images">
                            <img src="{% static '/images/musicians.svg' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Musicians</h5>
                                <p class="card-text">Find a right man for the job.</p>
                                <p class="card-text"><small class="last-update">Last updated 20 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a class="card-link" href="">
                <div class="card mb-3 h-100 justify-content-center">
                    <div class="row g-0">
                        <div class="col-md-4 card-images">
                            <img src="{% static '/images/messages.svg' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Messages</h5>
                                <p class="card-text">Check your inbox.</p>
                                <p class="card-text"><small class="last-update">New messages!</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a class="card-link" href="">
                <div class="card mb-3 h-100 justify-content-center">
                    <div class="row g-0">
                        <div class="col-md-4 card-images">
                            <img src="{% static '/images/calendar.svg' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Calendar</h5>
                                <p class="card-text">Time management is the key - use a featured calendar to keep up with your schedule.</p>
                                <p class="card-text"><small class="last-update">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock container %}
