{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
{% endblock styles %}

{% block container %}
        <div class="d-flex btn-group justify-content-between">
            <div class="d-inline m-1">
                <a href="{% url 'messenger:new-message' %}">
                    <button type="button" class="btn btn-info" aria-expanded="false">
                        New message
                    </button>
                </a>
            </div>
            <div class="d-inline m-1">
                <a href="{% url 'messenger:conversations-list' %}">
                    <button type="button" class="btn btn-secondary" aria-expanded="false">
                        Conversation view
                    </button>
                </a>
            </div>
            <div class="dropdown m-1">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter messages
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    {% if inbox %}
                        <li><a class="dropdown-item active" href="{% url 'messenger:inbox' %}">Inbox</a></li>
                        <li><a class="dropdown-item" href="{% url 'messenger:outbox' %}">Outbox</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'messenger:inbox' %}">Inbox</a></li>
                        <li><a class="dropdown-item active" href="{% url 'messenger:outbox' %}">Outbox</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% if inbox %}
        <div style="text-align: center;">
            <h3>Inbox</h3>
        </div>
    {% else %}
        <div style="text-align: center;">
            <h3>Outbox</h3>
        </div>
    {% endif %}
    {% for msg in msgs %}
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-12 w-100 mb-3">
                <a class="card-link" href="#">
                    <div class="card mb-3 h-100 d-flex justify-content-center">
                        <div class="col-md-10 d-inline-block w-100">
                            <div class="col-md-auto vertical-center">
                                {% if inbox %}
                                    {% if msg.sender.get_user_avatar_url %}
                                        <img src="{{ msg.sender.get_user_avatar_url.1 }}" class="rounded-circle img-fluid avatar"
                                             alt="user_avatar">
                                    {% else %}
                                        <img src="{% static 'images/dummy-avatar.jpg' %}" alt="avatar"
                                             class="rounded-circle img-fluid avatar">
                                    {% endif %}
                                {% else %}
                                    {% if msg.receiver.get_user_avatar_url %}
                                        <img src="{{ msg.receiver.get_user_avatar_url.1 }}" class="rounded-circle img-fluid avatar"
                                             alt="user_avatar">
                                    {% else %}
                                        <img src="{% static 'images/dummy-avatar.jpg' %}" alt="avatar"
                                             class="rounded-circle img-fluid avatar">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-md-10 card-info">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div style="width: 70%;">
                                            <div class="">
                                                <div class="col-12">
                                                    <div class="d-inline-block">
                                                        {% if inbox %}
                                                            <h6>{{ msg.sender }}</h6>
                                                        {% else %}
                                                            <h6>{{ msg.receiver }}</h6>
                                                        {% endif %}
                                                        <p>{{ msg.message_text }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-inline-flex">
                                                <p><small>{{ msg.sent.time }}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% empty %}
        <p>You have no conversations yet.</p>
    {% endfor %}
{% endblock container %}
