{% extends 'base.html' %}

{% block container %}
    <div class="btn-group">
        <div class="d-inline">
            <a href="{% url 'messenger:new_message' %}">
                <button type="button" class="btn btn-info" aria-expanded="false">
                    New message
                </button>
            </a>
        </div>
    </div>
    {% include 'partials/messages_filter.html' %}
    <h3>Inbox:</h3>
    {% for message in mes_inbox %}
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-12 w-100 mb-3">
                <a class="card-link" href="#">
                    <div class="card mb-3 h-100 justify-content-center">
{#                        <div class="col-md-auto vertical-center">#}
{#                            <img src="{{ sender.avatar.url }}" alt="avatar"#}
{#                                 class="rounded-circle img-fluid avatar">#}
{#                        </div>#}
                        <div class="col-md-12 d-inline-block">
                            <div class="col-md-10 card-info">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div style="width: 70%;">
                                            <div class="">
                                                <div class="col-12">
                                                    <div class="d-inline-block">
                                                        <h5 class="card-title">{{ message.thread_title }}</h5>
                                                        <div class="d-flex">
                                                            <p>FROM: </p>
                                                            <p>{{ message.sender }}</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <p class="card-text mb-0"><strong>Message:</strong></p>
                                            <p class="card-text">{{ message.message_text }}</p>
                                        </div>
                                        <div class="d-block msg-datetime">
                                            <h6 class="card-title">Received:</h6>
                                            <p>{{ message.sent.date }}</p>
                                            <p>{{ message.sent.time }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% empty %}
        <p>Your inbox is empty.</p>
    {% endfor %}

    <h3>Outbox:</h3>
    {% for message in mes_outbox %}
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-12 w-100 mb-3">
                <a class="card-link" href="#">
                    <div class="card mb-3 h-100 justify-content-center">
{#                        <div class="col-md-auto vertical-center">#}
{#                            <img src="{{ receiver.avatar.url }}" alt="avatar"#}
{#                                 class="rounded-circle img-fluid avatar">#}
{#                        </div>#}
                        <div class="col-md-12 d-inline-block">
                            <div class="col-md-10 card-info">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div style="width: 70%;">
                                            <div class="">
                                                <div class="col-12">
                                                    <div class="d-inline-block">
                                                        <h5 class="card-title">{{ message.thread_title }}</h5>
                                                        <div class="d-flex">
                                                            <p>TO: </p>
                                                            <p>{{ message.receiver }}</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <p class="card-text mb-0"><strong>Message:</strong></p>
                                            <p class="card-text">{{ message.message_text }}</p>
                                        </div>
                                        <div class="d-block msg-datetime">
                                            <h6 class="card-title">Sent:</h6>
                                            <p>{{ message.sent.date }}</p>
                                            <p>{{ message.sent.time }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% empty %}
        <p>Your outbox is empty.</p>
    {% endfor %}
{% endblock container %}
