{% load static %}

<div class="row">
        <div class="col-12 mb-3">
            <a class="card-link" href="{% url 'jobs:jobs_list' %}">
                <div class="card mb-3 h-100 justify-content-center">
                    <div class="row g-0 card-elements">
                        <div class="col-md-3 card-images">
                            <img src="{% static '/images/jobs.svg' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">Jobs</h5>
                                <p class="card-text">Search for job opportunities -&nbspboth live and in studio, add offers and grow.</p>
                                <p class="card-text last-update"><small>Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 mb-3">
            <a class="card-link" href="/users">
                <div class="card mb-3 h-100 justify-content-center">
                    <div class="row g-0">
                        <div class="col-md-3 card-images">
                            <img src="{% static '/images/musicians.svg' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">Musicians</h5>
                                <p class="card-text">Find a right man for the job.</p>
                                <p class="card-text"><small class="last-update">Last updated 20 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 mb-3">
            <a class="card-link" href="{% url 'chat:chat-index' %}">
                <div class="card mb-3 h-100 justify-content-center">
                    <div class="row g-0">
                        <div class="col-md-3 card-images">
                            <img src="{% static '/images/messages.svg' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">Chat</h5>
                                <p class="card-text">Get in touch with fellow musicians.</p>
                                <p class="card-text"><small class="last-update">New messages!</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
