<div class="collapse card mb-3" id="collapseExample">
    <form action="" method="get">
        <div class="search-filter mb-3 d-flex">
            <div class="col-auto">
                <div class="filter-item">
                    Instrument:
                </div>
                <div class="filter-item">
                    {{ filter.form.instrument }}
                </div>
            </div>
            <div class="col-auto">
                <div class="filter-item">
                    Style:
                </div>
                <div class="filter-item">
                    {{ filter.form.music_style }}
                </div>
            </div>
            <div class="w-25 d-inline-block">
                <div class="float-end mt-3">
                    <input type="submit" class="btn btn-danger" value="Filter">
                </div>
            </div>
        </div>
    </form>
</div>