{% load crispy_forms_tags %}

<div class="d-inline-block">

</div>
<div class="collapse" id="collapseExample">
    <form action="" method="get">
        <div class="search-filter mb-3">
            <div class="col-auto">
                <div class="filter-item">
                    Instrument:
                </div>
                <div class="filter-item">
                    {{ filter.form.instrument }}
                </div>
            </div>
            <div class="col-auto">
                <div class="filter-item">
                    Music styles:
                </div>
                <div class="filter-item">
                    {{ filter.form.music_style }}
                </div>
            </div>
        </div>
        <div class="col-auto m-2" style="text-align: right; align-content: end">
                <input type="submit" class="btn btn-primary" value="Filter">
        </div>
    </form>
</div>