{% load crispy_forms_tags %}

<div class="d-inline-block">
<div class="filter-toggle">
    <p>
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filter options
        </button>
    </p>
</div>
</div>
<div class="collapse" id="collapseExample">
    <form action="" method="get">
        <div class="search-filter mb-3">
            <div class="col-auto">
                <div class="filter-item">
                    From:
                </div>
                <div class="filter-item">
                    {{ filter.form.sender }}
                </div>
            </div>
            <div class="col-auto">
                <div class="filter-item">
                    To:
                </div>
                <div class="filter-item">
                    {{ filter.form.receiver }}
                </div>
            </div>
        </div>
        <div class="col-auto m-2" style="text-align: right; align-content: end">
                <input type="submit" class="btn btn-primary" value="Filter">
        </div>
    </form>
</div>
