{% load crispy_forms_tags %}

<div class="filter-toggle">
    <p style="text-align: right;">
        <button class="btn btn-outline-danger dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filter options
        </button>
    </p>
</div>

<div class="collapse" id="collapseExample">
    <form action="" method="get">
        <div class="search-filter mb-3">
            <div class="col-auto">
                <div class="filter-item">
                    Instrument:
                </div>
                <div class="filter-item">
                    {{ filter.form.instrument }}
                </div>
            </div>
            <div class="col-auto">
                <div class="filter-item">
                    Style:
                </div>
                <div class="filter-item">
                    {{ filter.form.music_style }}
                </div>
            </div>
            <div class="col-auto w-25">
                <div class="float-end">
                    <div class="filter-item">
                        Is mobile:
                    </div>
                    <div>
                        {{ filter.form.is_mobile }}
                    </div>
                </div>
            </div>
        </div>
        <div class="search-filter mb-3">
            <div class="w-100">
                <div class="float-end">
                    <input type="submit" class="btn btn-danger" value="Filter">
                </div>
            </div>
        </div>
    </form>
</div>