<div class="collapse card mb-3" id="collapseExample">
    <form action="" method="get">
        <div class="search-filter mb-3">
            <div class="col-auto">
                <div class="filter-item">
                    Instrument:
                </div>
                <div class="filter-item">
                    {{ filter.form.instrument }}
                </div>
            </div>
            <div class="col-auto">
                <div class="filter-item">
                    Style:
                </div>
                <div class="filter-item">
                    {{ filter.form.music_style }}
                </div>
            </div>
            <div class="col-auto w-25">
                <div>
                    <div class="filter-item">
                        Is mobile:
                    </div>
                    <div>
                        {{ filter.form.is_mobile }}
                    </div>
                </div>
            </div>
        </div>
        <div class="search-filter mb-3">
            <div class="w-100">
                <div class="float-end">
                    <input type="submit" class="btn btn-danger" value="Filter">
                </div>
            </div>
        </div>
    </form>
</div>
