{% load crispy_forms_tags %}

<div class="filter-toggle">
    <p>
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filter options
        </button>
    </p>
</div>

<div class="collapse filter-panel" id="collapseExample">
    <form action="" method="get">
        <div class="search-filter mb-3">
            <div class="col-auto">
                <div class="filter-item">
                    Instrument:
                </div>
                <div class="filter-item">
                    {{ filter.form.instrument }}
                </div>
            </div>
            <div class="col-auto">
                <div class="filter-item">
                    Music styles:
                </div>
                <div class="filter-item">
                    {{ filter.form.music_style }}
                </div>
            </div>
            <div class="col-auto">
                <div class="filter-item">
                    Is mobile:
                </div>
                <div>
                    {{ filter.form.is_mobile }}
                </div>
            </div>
            <div class="col-auto m-2" style="text-align: right; align-content: end">
                <input type="submit" class="btn btn-primary" value="Filter">
            </div>
        </div>
    </form>
</div>