{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark partials">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home:home' %}">
            <img src="{% static '/images/logo.svg' %}" class="logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="searchbar">
            <form class="d-flex" action="/search/" method="get" role="search">
                <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        <div>
            {% if user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item dropdown partials">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/users/{{ user }}">My profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'jobs:my_jobs' %}">My job offers</a></li>
                        <li><a class="dropdown-item" href="{% url 'jobs:my_accesses' %}">My job accesses</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Log out</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
                <a href="{% url 'users:registration' %}">
                    <button class="btn btn-outline-info" type="button" aria-expanded="false">
                        Sign Up
                    </button>
                </a>
                <a href="{% url 'users:login' %}">
                    <button class="btn btn-outline-primary" type="button" aria-expanded="false">
                        Sign In
                    </button>
                </a>
            {% endif %}
        </div>
    </div>
</nav>